
.tile{
  background-color: white;
  display: flex;
  width: 98%;
  height: 83%;
  overflow: hidden;
}

canvas{
  background-color: black;
  width: 60%;
  height: 100%;
}

.discription{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  line-height: 30px;
  padding: 7%;
  padding-top: 3%;
  padding-bottom: 3%;
  height: 88%;
  width: 40%;
}

.species{
  font-size: 20px;
  display: block;
  width: 100%;
}

.specification{
  font-size: 15px;
}

#low{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}

.comment{
  font-size: 15px;
  background-color: #f7f7f7;
  padding: 2%;
  max-height: 40%;
  overflow-y:scroll;
}

::-webkit-scrollbar{
  display: none;
}

.adopt{
  width:100%;
  font-size: 18px;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 0px;
  font-family: 'Nanum Myeongjo', serif;
}

.propWrapper{
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
}


.prop{
  width: 40%;
}
