.tile{
  background-color: white;
  display: flex;
  margin-bottom: 10%;
  height: 25rem;
}

canvas{
  background-color: lightgray;
  width: 60%;
}

.discription{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  line-height: 30px;
  padding: 5%;
  width: 40%;
}

.species{
  font-size: 16px;
  color: #646464;
  display: block;
  width: 100%;
  letter-spacing: 3px;
}

.specification{
  font-size: 15px;
}

#low{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}

.comment{
  font-size: 15px;
  background-color: #f7f7f7;
  padding: 2%;
  max-height: 40%;
  overflow-y:scroll;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
}

::-webkit-scrollbar{
  display: none;
}

.adopt{
  width:100%;
  font-size: 14px;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 0px;
  font-family: 'Nanum Myeongjo', serif;
  letter-spacing: 2px;
}

.propWrapper{
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
}

.prop{
  width: 49%;
}

@media (max-width: 768px){
  .adopt{
    font-size: 12px;
  }
  .comment{
    font-size: 13px;
  }
  .specification{
    font-size: 13px;
  }
  .species{
    font-size: 14px;
  }
  .discription{
    padding: 5% 3%;
  }
  .tile{
    height: 16rem;
  }
}
