  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile *ngFor="let c of creatures">
      <div class="tile">
        <canvas></canvas>
        <div class="discription">
          <span class="species">{{c.getSpecies()}}</span>
          <span class="specification">
            <div class="propWrapper">
              <span class="prop">
                이름&nbsp;&nbsp;{{c.name}}
              </span>
              <span class="prop">
                성별&nbsp;&nbsp;암
              </span>
            </div>
          <div class="propWrapper">
            <span class="prop">
              무게&nbsp;&nbsp;{{c.weight}}g
            </span>
            <span class="prop">
              길이&nbsp;&nbsp;{{c.length}}cm
            </span>
          </div>
            생일&nbsp;&nbsp;21.11.08
          </span>
          <div id="low">
            <mat-card class="comment">{{c.comment}}</mat-card>
            <div class="cost"><span>{{c.cost}} R</span></div>
            <button mat-flat-button class="adopt" color="primary"><span>ADOPT</span></button>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

