#tip{
  display: block;
  text-align: center;
  line-height: 48px;
  font-size: 16px;
  font-family: 'Nanum myeongjo', sans-serif;
  background-color: #eeeef4;
  padding: 2.5%;
  color: #212121;
  letter-spacing: 1.8px;
}
