<app-tip></app-tip>
<div class="container">
    <div
        class="row justify-content-md-center categories"
        [class.mat-elevation-z1]="true"
    >
        <a
            class="col-6 col-lg-3 category"
            [routerLink]="['/community/posts', 'best']"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
        >
            인기
        </a>
        <a
            class="col-6 col-lg-3 category"
            [routerLink]="['/community/posts', 'announcement']"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
        >
            공지
        </a>
        <a
            class="col-6 col-lg-3 category"
            [routerLink]="['/community/posts', 'recent']"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
        >
            최근
        </a>
        <a
            class="col-6 col-lg-3 category"
            [routerLink]="['/community/posts', 'my']"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
        >
            나의
        </a>
    </div>
    <router-outlet></router-outlet>
    <div id="writeWrapper">
        <button
            routerLink="/community/createPost"
            mat-raised-button
            id="write"
            color="primary"
        >
            할 말 있어요.
        </button>
    </div>
</div>
