.container{
}

#itemWrapper{
  display: flex;
  border-radius: 0px;
  height: 22rem;
  justify-content: space-between;
  background-color: #fafaff;
}

#itemCanvas{
  width: 50%;
  height: 100%;
  background-color: lightgray;
}

#right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

#info{
  padding: 2%;
}

button{
  border-radius: 0px;
  width: 100%;
  font-family: 'Nanum Myeongjo', sans-serif;
}

@media (max-width: 768px) {
  .container{
    padding: 0px;
  }
  #itemWrapper{
    flex-direction: column;
  }
  #itemCanvas{
    width: 100%;
  }
  #right{
    width: 100%;
  }
}
