.container{
  padding: 20%;
  padding-top: 4%;
  background: linear-gradient(0deg, white 82%, #fafafd 100%);
}

.board{
  padding-top: 1%;
  height: 30rem;
}

.mat-tab-label{
  font-size: 100px !important;
}

.post{
  display: flex;
  font-size: 16px;
  line-height: 28px;
}

.title{
  display: inline-block;
  width: 70%;
}

.columns{
  display: flex;
  color: #212121a0;
  font-size: 15px;
}

.right{
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.titleCol{
  display: inline-block;
  width: 70%;
}

.meta{
  display: block;
  width: 33%;
  text-align: end;
}
