.container {
  padding: 20%;
  padding-top: 0%;
  background: linear-gradient(0deg, white 82%, #eeeef4 100%);
}

.board {
  padding-top: 1%;
  height: 30rem;
  overflow-y: hidden;
}

.post {
  display: flex;
  font-size: 16px;
  line-height: 28px;
}

.title {
  display: inline-block;
  width: 70%;
}

.columns {
  display: flex;
  color: #212121a0;
  font-size: 15px;
}

.right {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.titleCol {
  display: inline-block;
  width: 70%;
}

.meta {
  display: block;
  width: 33%;
  text-align: end;
}

#writeWrapper{
  display: flex;
  justify-content: end;
}

#write{
  align-self: flex-end;
  border-radius: 0px;
}
