<div class="toolbar">
  <div class="menuContainer" style="background-color: #4b4b4b;" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
    <p class="menu">HOME</p>
  </div >
  <div class="menuContainer" style="background-color: #30c1a7;" routerLink="/shop" routerLinkActive="active" ariaCurrentWhenActive="page">
    <p class="menu">SHOP</p>
  </div >
  <div class="menuContainer" style="background-color: #ffe600;color: #555555;" routerLink="/breeders" routerLinkActive="active" ariaCurrentWhenActive="page">
    <p   class="menu">BREEDERS</p>
  </div >
  <div class="menuContainer" style="background-color: #878787;" routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">
    <p  class="menu">MY</p>
  </div>
</div>
