<mat-toolbar id="toolbarContainer" color="primary">
  <div id="toolbar">
    <a id="title" routerLink="/home/all" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img src="../../../assets/images/logo.png" height="36px"><span id="titleText">Reptopia</span>
    </a>
    <a class="menu" routerLink="/community" routerLinkActive="active" ariaCurrentWhenActive="page">대화</a>
    <a class="menu" routerLink="/shop" routerLinkActive="active" ariaCurrentWhenActive="page">상점</a>
    <a class="menu" routerLink="/breeders" routerLinkActive="active" ariaCurrentWhenActive="page">분양</a>
    <div id="meOut">
      <a class="menu" id="meIn" routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">프로필</a>
    </div>
  </div>
</mat-toolbar>
