#toolbarContainer{
  padding-left: 18%;
  padding-right: 18%;
  font-family: 'Nanum Gothic', serif;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

#toolbar{
  display: flex;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  align-items: flex-end;
}

img{
  margin-right: 5%;
}

#title{
  display:inline-flex;
  color: white;
  margin-right: 4%;
  text-decoration: none;
  margin-bottom: 1.2%;
}

#titleText{
  display: block;
  margin: auto;
  font-size: 22px;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 300;
}

.menu{
  margin-left: 2%;
  text-decoration: none;
  color: white;
  align-self: center;
  font-size: 17px;
  letter-spacing: 3px;
}

#meOut{
  width: 100%;
  display: flex;
  align-items: flex-end;
}

#meIn{
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: 0px;
  margin-left: auto;
  justify-content: flex-end;
}


.meta{
  font-size: 14px;
  padding: 2%;
}

#id{
  font-family: 'Nanum myeongjo', sans-serif;
}
