#toolbarContainer{
  padding-left: 18%;
  padding-right: 18%;
  font-family: 'Nanum Gothic', serif;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

#toolbar{
  display: flex;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  align-items: center;
}

img{
  margin-right: 5%;
}

#title{
  display: flex;
  color: white;
  margin-right: 4%;
  text-decoration: none;
}

#titleText{
  display: block;
  margin: auto;
  font-size: 22px;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 300;
}

.menu{
  padding: 1%;
  margin-left: 1%;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 3px;
}

#meOut{
  width: 100%;
  display: flex;
  align-items: flex-end;
}

#meIn{
  height: 100%;
  margin-right: 0px;
  margin-left: auto;
}
