#toolbarContainer{
  width: 100%;
  padding-left: 1.5%;
  padding-right: 3%;
  background-color: #212121;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

img{
  margin-right: 15%;
}

#title{
  display: flex;
  color: white;
  padding-right: 3%;
  text-decoration: none;
}

span{
  display: block;
  margin: auto;
  font-size: 22px;
  font-weight: lighter;
}

.menu{
  padding-top:1%;
  padding-bottom:1%;
  margin-right: 1%;
  margin-left: 1%;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
  font-family: roboto;
  transition: font-size 0.2s ease-in-out, padding 0.2s ease-in-out, background-color 0.2s ease-in-out, opacity 0.15s ease-in-out;
}
