<div class="container">
  <div class="categories">
    <a class="category" routerLink="/shop/cages" routerLinkActive="active" ariaCurrentWhenActive="page">cages</a>
    <a class="category" routerLink="/shop/foods" routerLinkActive="active" ariaCurrentWhenActive="page">foods</a>
    <a class="category" routerLink="/shop/temperatures" routerLinkActive="active" ariaCurrentWhenActive="page">temperatures / humidity</a>
    <a class="category" routerLink="/shop/materials" routerLinkActive="active" ariaCurrentWhenActive="page">materials</a>
  </div>
  <router-outlet></router-outlet>
</div>
