.container{
  padding: 20%;
  padding-top: 5%;
}

.categories{
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.category{
  width: 25%;
  font-weight:lighter;
  text-decoration: none;
  padding-top:2.5%;
  padding-bottom:2.5%;
  text-align: center;
  transition: font-size 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.active {
  font-size: 19px;
  background-color: #212121;
  color: white;
}

.category:not(.active){
  font-size: 18px;
  color:black;
}

.category:hover:not(.active){
  background-color: #88888854;
  font-size: 20px;
}

.tileContainer{
  width:100%;
  height: 100%;
  text-align: center;
}

canvas{
  cursor: pointer;
  align-self: center;
  background-color: lightgray;
  height: 80%;
  width: 100%;
  margin-bottom: 2%;
}
