<div class="container">
  <div class="categories" [class.mat-elevation-z1]="true">
    <a class="category" routerLink="/shop/cages" routerLinkActive="active" ariaCurrentWhenActive="page">사육장</a>
    <a class="category" routerLink="/shop/foods" routerLinkActive="active" ariaCurrentWhenActive="page">먹이</a>
    <a class="category" routerLink="/shop/temperatures" routerLinkActive="active" ariaCurrentWhenActive="page">온습도</a>
    <a class="category" routerLink="/shop/materials" routerLinkActive="active" ariaCurrentWhenActive="page">자재</a>
  </div>
  <router-outlet></router-outlet>
</div>
