.categories{
  position: absolute;
  left:25%;
  width:50%;
  top:13%;
  display: flex;
  justify-content: center;
}

.active {
  font-size: 18px;
  background-color: lightgray;
}

.category:not(.active){
  font-size: 16px;
}

.category{
  font-weight:lighter;
  text-decoration: none;
  color:black;
  padding-left:3.5%;
  padding-right:3.5%;
  padding-top:2.5%;
  padding-bottom:2.5%;
  text-align: center;
  transition: font-size 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.category:hover:not(.active){
  background-color: #F0F0F0;
}

.tileContainer{
  width:100%;
  height: 100%;
  text-align: center;
}

.tile{
  align-self: center;
  background-color: lightgray;
  height: 80%;
  width: 95%;
  margin-bottom: 2%;
}
