.container{
  padding:7%;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(34, 34, 34) 70%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
}

#container2{
  background-color: #212121;
  padding: 1%;
}

.tileContainer{
  display: flex;
  flex-direction: column;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  align-self: flex-end;
  background-color: rgb(255, 255, 255);
}

.cage{
  cursor: pointer;
  background-color: lightgray;
  height: calc(100% - 50px);
  width: 100%;
}

.itemText{
  padding:1%;
  text-align: center;
  color: rgb(0, 0, 0);
}
