.container{
  padding:5%;
}

.tileContainer{
  width:100%;
  height: 100%;
  text-align: center;
}

.cage{
  cursor: pointer;
  align-self: center;
  background-color: lightgray;
  height: 80%;
  width: 97%;
  margin-bottom: 2%;
}
