.container{
  padding: 5% 20%;
}

mat-card{
  font-size: 16px;
  border-radius: 0px;
  margin: auto;
  padding: 10%;
  padding-bottom: 9%;
}

button{
  border-radius: 0px;
}

#inform{
  font-family: 'Nanum Myeongjo', serif;
  display: block;
  font-size: 17px;
  margin-bottom: 8%;
  line-height: 36px;
  letter-spacing: 3px;
  text-align: center;
}

.item{
  padding-top: 4%;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
}

#logout{
  padding: 2%;
  letter-spacing: 2px;
  width: 100%;
  margin-top:10%;
}

.prop{
  font-size: 14px;
}

.data{
  font-size: 16px;
}

@media (max-width: 768px) {
  .container{
    padding: 3%;
  }
  #inform{
    font-size: 15px;
  }
  .data{
    font-size: 15px;
  }
  #logout{
    padding: 1%;
  }
}
