<div class="container">
  <div class="wrapper">
    <mat-card class="username"><span>Username</span></mat-card>
    <mat-card class="level"><span>User Level</span></mat-card>
  </div>
  <div class="wrapper">
    <mat-card class="exp"><span>User Exp</span></mat-card>
    <mat-card class="total"><span>Total creatures amount</span></mat-card>
  </div>
  <div class="wrapper">
    <mat-card class="achievements"><span>Achievements</span></mat-card>
  </div>
  <button mat-raised-button color="primary" id="logout">Log out</button>
</div>
