<div id="container">
  <mat-card id="userInfo" [class.mat-elevation-z6]="true" >
    <span id="inform"><span id="id">wndgur2</span> 의 정보예요.</span>
    <mat-list>
      <mat-divider></mat-divider>
      <div class="item"><span class="prop">이름</span> <span class="data">이중혁</span></div>
      <mat-divider></mat-divider>
      <div class="item"><span class="prop">레벨</span> <span class="data">1</span></div>
      <mat-divider></mat-divider>
      <div class="item"><span class="prop">생물</span> <span class="data">10 마리</span></div>
      <mat-divider></mat-divider>
      <div class="item"><span class="prop">업적</span> <span class="data">없음</span></div>
      <button mat-raised-button id="logout" color="primary">로그아웃</button>
    </mat-list>
  </mat-card>
</div>
