.container{
  height: 10rem;
  padding: 10% 20%;
}

@media (max-width: 992px){
  .container{
    padding: 5%;
  }
}

mat-card{
  font-size: 16px;
  border-radius: 0px;
  margin: auto;
  padding: 15%;
  padding-bottom: 14%;
}

button{
  border-radius: 0px;
}

#inform{
  font-family: 'Nanum Myeongjo', serif;
  display: block;
  font-size: 17px;
  margin-bottom: 10%;
  line-height: 36px;
  letter-spacing: 3px;
  text-align: center;
}

.item{
  padding-top: 7%;
  padding-bottom: 1%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
}

#logout{
  padding: 2%;
  letter-spacing: 2px;
  width: 100%;
  margin-top:10%;
}
