<mat-toolbar id="toolbarContainer" color="primary">
    <div id="toolbar">
        <a id="title" routerLink="/home/all">
            <img id="logo" src="../../../assets/images/logo.png" />
            <span id="titleText">Reptopia</span>
        </a>
        <a class="menu" routerLink="/community">토론</a>
        <a class="menu" routerLink="/shop">상점</a>
        <a class="menu" routerLink="/breeders">분양</a>
        <div id="meOut">
            <div id="meIn" *ngIf="this.userIsAuthenticated">
                <span class="meta d-none d-sm-block"
                    >{{ userData.reppi }} R</span
                >
                <span class="meta d-none d-sm-block">{{ userData.level }}</span>
                <a id="id" class="menu" routerLink="/user">{{
                    isPhone ? "나" : userData.name
                }}</a>
            </div>
        </div>
    </div>
    <a class="menu" *ngIf="!this.userIsAuthenticated" routerLink="/login"
        >입장</a
    >
</mat-toolbar>
