.header {
  display: flex;
  width: 100%;
}

.container {
  padding: 20%;
  padding-top: 0%;
  background-color: #eeeef4;
}

.categories {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6%;
}

.category {
  width: 25%;
  font-weight: lighter;
  text-decoration: none;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  color: black;
  transition: font-size 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.active {
  font-size: 17px;
  background-color: #252525;
  color: white;
}

.category:not(.active) {
  font-size: 16px;
  color: black;
}

.category:hover:not(.active) {
  background-color: #eaeaf0;
  font-size: 17px;
}
