<div class="columns">
    <span class="title">제목</span>
    <div class="right">
        <span class="meta">작성자</span>
        <span class="meta">추천</span>
        <span class="meta" id="time">시간</span>
    </div>
</div>
<div class="board">
    <div class="post" *ngFor="let post of posts">
        <div class="title">
            <a
                [routerLink]="[
                    '/community/posts/' +
                        route.snapshot.paramMap.get('boardType') +
                        '/post',
                    post.id
                ]"
            >
                {{ post.title }}
            </a>
        </div>
        <div class="right">
            <a class="meta">{{ post.authorName }}</a>
            <span class="meta">{{ post.likes }}</span>
            <span class="meta" id="time">{{
                dateToString(post.createdAt)
            }}</span>
        </div>
    </div>
</div>
