<div class="columns">
  <span class="titleCol">제목</span>
  <div class="right">
    <span class="meta">작성자</span><span class="meta">작성일자</span
    ><span class="meta">좋아요</span>
  </div>
</div>
{{type}}
<div class="board">
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
  <div class="post">
    <div class="title">
      <a [routerLink]="['/community/posts' + '/best' + '/post', 1]">
        00 게시판입ㅇㄹㅁ니다.ㅁㄴㅇㄹㄴ
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">22.08.15</span
      ><span class="meta">0</span>
    </div>
  </div>
</div>
