<div class="columns">
  <span class="titleCol">제목</span>
  <div class="right">
    <span class="meta">작성자</span><span class="meta">작성일자</span
    ><span class="meta">좋아요</span>
  </div>
</div>
<div class="board">
  <div class="post" *ngFor=" let post of posts">
    <div class="title">
      <a [routerLink]="['/community/posts/' + route.snapshot.paramMap.get('boardType') + '/post', post.id]">
        {{post.title}}
      </a>
    </div>
    <div class="right">
      <a class="meta">이중혁</a><span class="meta">{{post.date}}</span
      ><span class="meta">0</span>
    </div>
  </div>
</div>
