<div id="container">
  <div id="title"><span>Reptopia</span></div>
  <div id="loginBox">
    <div id="inputs">
      <div id="id"><input id="idInput" type="text"></div>
      <div id="pw"></div>
    </div>
    <div id="buttons">
      <div id="logIn" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">LOG IN</div>
      <div id="signIn">SIGN IN</div>
      <div id="findId" style="color: #4b4b4b">FIND ID</div>
      <div id="resetPw">RESET PW</div>
    </div>
  </div>
</div>
