<div id="container">
  <div id="title"><span>Reptopia</span></div>
  <div id="loginBox">
    <div id="inputs">
      <div id="id">asd</div>
      <div id="pw">ss</div>
    </div>
    <div id="buttons">
      <div id="logIn" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">LOG IN</div>
      <div id="signIn" routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">SIGN UP</div>
      <div id="findId" style="color: #4b4b4b">FIND ID</div>
      <div id="resetPw">RESET PW</div>
    </div>
  </div>
</div>
