<div class="container">
  <mat-card>
    <span id="inform"> Reptopia에 오셨네요? <br>행운을 빌게요.</span>
    <form>
      <mat-form-field appearance="legacy" color="primary">
        <mat-label>아이디</mat-label>
        <input matInput placeholder="welcome@to.reptopia">
      </mat-form-field>
      <mat-form-field appearance="legacy" color="primary">
        <mat-label>암호</mat-label>
        <input matInput type="password">
      </mat-form-field>
      <button mat-flat-button color="primary">입장</button>
      <a routerLink="/signup">... 계정이 없나요?</a>
    </form>
  </mat-card>
</div>
