<app-tip></app-tip>
<div class="container">
  <form [class.mat-elevation-z1]="true" (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field id="titleInput" appearance="legacy" color="primary">
      <input matInput
      id="titleInputText"
      name="title"
      type="text"
      ngModel
      #title = "ngModel"
      placeholder="제목"
      required
      >
    </mat-form-field>
    <mat-form-field id="contentInput" appearance="legacy" color="primary">
      <textarea matInput
      [rows]="15"
      [cdkTextareaAutosize]="true"
      id="contentInputText"
      name="content"
      type="text"
      ngModel
      #content = "ngModel"
      placeholder="내용"
      required
      ></textarea>
    </mat-form-field>
    <div id="submitWrapper">
      <button class="submit" mat-flat-button type="submit" color="primary">등록</button>
    </div>
  </form>
</div>
