form{
  padding: 7%;
  background-color: #fefeff;
}

mat-label{
  font-size: 16px;
}

#titleInputText{
  font-size: 20px;
  padding-top: 1%;
}

#titleInput{
  width: 100%;
}

#contentInput{
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#contentInputText{
  font-size: 16px;
  padding-top: 1%;
}

#submitWrapper{
  display: flex;
  justify-content: center;
  width: 100%;
}

.submit{
  width: 100%;
  border: none;
  border-radius: 0px;

  padding: 5%;
  padding-top: 1.2%;
  padding-bottom: 1.2%;

  font-size: 15px;
  letter-spacing: 3px;
}
