<div class="container" *ngFor="let c of creatures">
  <mat-card class="breeder">
    <div class="cardInner">
      <div class="from">from <span class="name">REPTOPIA</span></div>
      <div class="contents">
        <canvas></canvas>
        <div class="discription">
          <span class="title">{{c.getSpecies()}}</span>
          <span class="specification">
            이름과 생년월일
            <br>
            무게: {{c.weight}}g
            <br>
            길이: {{c.length}}cm
            <br>
            가격: {{c.cost}} reppi
          </span>
          <br>
          <div class="comment"></div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
