.container{
  min-height: 100%;
  background-color: #212121;
  padding: 5%;
  padding-top: 3%;
}

.tile{
  display: flex;
  width: 90%;
  height: 77%;
  background-color: white;
  padding: 3%;
}

canvas{
  background-color: #212121;
  width: 70%;
  height: 100%;
  margin: auto;
}

.discription{
  display: inline-block;
  flex-direction: column;
  line-height: 30px;
  padding: 3%;
  padding-top: 1%;
  height: 90%;
  width: 30%;
}

.cost{
  font-size: 24px;
}

.species{
  font-size: 26px;
  display: block;
  margin-bottom: 15%;
  width: 100%;
}

.specification{
  font-size: 19px;
}

.comment{
  width: 100%;
  font-size: 20px;
  margin-top: 15%;
  margin-bottom: 15%;
  height: 20%;
}

.adopt{
  width:100%;
  background-color: black;
  font-size: 22px;
  color:white;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
}
