<div class="container">
  <div class="categories">
    <a class="category" [routerLink]="['/breeders/creatures', 'all']" routerLinkActive="active" ariaCurrentWhenActive="page">All</a>
    <a class="category" [routerLink]="['/breeders/creatures', 'leopard']" routerLinkActive="active" ariaCurrentWhenActive="page">Leopard Gecko</a>
    <a class="category" [routerLink]="['/breeders/creatures', 'crested']" routerLinkActive="active" ariaCurrentWhenActive="page">Crested Gecko</a>
    <a class="category" [routerLink]="['/breeders/creatures', 'ball']" routerLinkActive="active" ariaCurrentWhenActive="page">Ball Python</a>
  </div>
  <router-outlet></router-outlet>
</div>
