<app-tip></app-tip>
<div class="container">
  <div class="categories" [class.mat-elevation-z1]="true">
    <a class="category" [routerLink]="['/breeders/creatures', 'all']" routerLinkActive="active" ariaCurrentWhenActive="page">모두</a>
    <a class="category" [routerLink]="['/breeders/creatures', 'leopard']" routerLinkActive="active" ariaCurrentWhenActive="page">레오파드 게코</a>
    <a class="category" [routerLink]="['/breeders/creatures', 'crested']" routerLinkActive="active" ariaCurrentWhenActive="page">크레스티드 게코</a>
    <a class="category" [routerLink]="['/breeders/creatures', 'ball']" routerLinkActive="active" ariaCurrentWhenActive="page">볼 파이톤</a>
  </div>
  <router-outlet></router-outlet>
</div>
