<div id="container">
  <div id="top">
    <h2>{{post.title}}</h2>
    <div id="buttons" *ngIf="userId === post.authorId">
      <button style="margin-right: 0.1rem;" mat-flat-button color="primary" [routerLink]="['/community/editPost', post.id]">수정</button>
      <button mat-flat-button color="primary" (click)="onDeletePost(post.id)">삭제</button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="meta">
    <span class="item"> 작성자: {{post.authorName}}</span>
    <span class="item"> 조회수: {{post.views}}</span>
    <span class="item"> 작성일: {{dateToString(post.createdAt)}}</span>
  </div>
  <div id="contentWrapper">
    <p id="content"> {{post.content}}</p>
    <div id="likes">
      <button class="likeBtn" color="accent" (click)="onLike(true)">Up</button>
      <span id="like">{{post.likes}}</span>
      <button class="likeBtn" color="accent" (click)="onLike(false)">Down</button>
    </div>
  </div>
    <mat-divider></mat-divider>
  <div id="comments">
    <form id="commentForm">
      <mat-form-field id="commentInput" appearance="legacy" color="primary">
        <mat-label>의견 남기기</mat-label>
        <textarea [cdkTextareaAutosize]="true" id="commentInputText" matInput placeholder="할 말이 있으신가요?"></textarea>
      </mat-form-field>
      <button id="submit" mat-raised-button type="submit">등록</button>
    </form>
    <div class="comment">
      <div class="commentMeta">
        <span class="item"> 이중혁</span>
        <span class="item"> 숙련도 1</span>
        <span class="item"> 추천: 4</span>
        <span class="item"> 2022.08.23</span>
      </div>
      <p class="commentContent">
        댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.
      </p>
    </div>
    <div class="comment">
      <div class="commentMeta">
        <span class="item"> 이중혁</span>
        <span class="item"> 숙련도 1</span>
        <span class="item"> 추천: 4</span>
        <span class="item"> 2022.08.23</span>
      </div>
      <p class="commentContent">
        댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.
      </p>
    </div>
    <div class="comment">
      <div class="commentMeta">
        <span class="item"> 이중혁</span>
        <span class="item"> 숙련도 1</span>
        <span class="item"> 추천: 4</span>
        <span class="item"> 2022.08.23</span>
      </div>
      <p class="commentContent">
        댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.댓글내용입니다. 댓글내용입니다. 댓글내용입니다.
      </p>
    </div>
  </div>
</div>
