#container{
  padding: 2%;
}

#title{
  padding:1%;
  padding-bottom: 3%;
  margin: 0px;
}

.meta{
  padding-top: 3%;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
}

.item{
  margin-left: 1%;
}

#content{
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-size: 16px;
}

#commentForm{
  display: flex;
}

#commentInput{
  width: 90%;
  margin: 1%;
}

#commentInputText{
  font-size: 16px;
  padding-top: 2%;
}

#submit{
  margin-bottom: 3%;
  margin-top: 3%;
  border-radius: 0px;
  border: none;
  letter-spacing: 3px;
  padding-left: 3%;
  padding-right: 3%;
}

#comments{
  margin: 1%;
  margin-top: 3rem;
}

.comment{
  margin-top: 3%;
  background-color: #f5f5fa;
}

.commentMeta{
  padding: 1.5%;
  font-size: 14px;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  width: 40%;
}

.commentContent{
  padding: 2%;
  padding-top: 0%;
  margin: 0px;
  line-height: 24px;
}
