#container{
  position: absolute;
  z-index: 1;
  background-color: black;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
}

#title{
  position: relative;
  margin-top: 13%;
  width:100%;
  height: 10%;

  color: white;
  text-align: center;
  font-size: 76px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
}

#loginBox{
  position: relative;
  width: 50%;
  height: 32%;
  margin-left: 25%;
  margin-top: 4%;
  background-color: lightblue;
}

#indexes{
  width: 50%;
  color: white;
  background-color: black;
  font-size: 18px;
  font-weight: lighter;
}

.index{
  line-height: 350%;
  height: 25%;
}

#inputs{
  width: 50%;
  background-color: white;
  color: black;
}

.in{
  line-height: 350%;
  height: 25%;
  width: 100%;
  padding-left: 1rem;
  font-size: 20px;
}

.pw{
  color: #8B8B8B;
}

#buttons{
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 28%;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
  color: white;
  line-height: 500%;
}

#cancel{
  background-color: #4B4B4B;
  width: 50%;
  height: 100%;
}

#signIn{
  background-color: #30C1A7;
  width: 50%;
  height: 100%;
}
