<div id="container">
  <div id="title"><span>Reptopia</span></div>
  <div id="loginBox">
    <div style="display: flex; flex-direction: row;">
      <div id="indexes">
        <div class="index"><span>ID</span></div>
        <div class="index"><span>PW</span></div>
        <div class="index"><span>Check PW</span></div>
        <div class="index"><span>Nickname</span></div>
      </div>
      <div id="inputs">
        <div class="in">wndgur2</div>
        <div class="in pw">aaaaa</div>
        <div class="in pw">aaaaaa</div>
        <div class="in">fleonar</div>
      </div>
    </div>
    <div id="buttons">
      <div id="signIn" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">SIGN UP</div>
      <div id="cancel" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">CANCEL</div>
    </div>
  </div>
</div>
