.container{
  padding:20%;
  padding-top: 10%;
  background-color: #eeeef4;
}

form{
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

mat-card{
  font-family: 'Nanum Myeongjo', serif;
  padding: 10%;
  padding-top: 8%;
  padding-bottom: 8%;
  margin: 20%;
  margin-top: 0%;
  border-radius: 0px;
}

#inform{
  display: block;
  font-size: 15px;
  margin-bottom: 8%;
  line-height: 24px;
  letter-spacing: 3px;
  text-align: center;
}

button{
  padding:1.8%;
  margin-top: 3%;
  font-size: 15px;
  letter-spacing:2px;
  border-radius: 0px;
}

a{
  text-decoration: none;
  color: black;

  display: flex;
  margin-top: 6%;

  text-align: center;
  justify-content: center;
  font-size: 14px;

  cursor: pointer;
}

a:hover{
  text-decoration: underline;
}
