.container{
  background-color: #eeeef4;
  padding-top: 5%;
}

.cage{
  display: flex;
  justify-content: center;
  background-color: lightgray;
  width: 50%;
}

#rightSide{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafaff;
  width: 50%;
  padding: 3%;
}

#informations{
  padding: 1%;
  display: flex;
}

.info{
  padding: 1%;
  width: 33%;
}

.infoTitle{
  display: block;
  font-size: 13px;
  color: #343434;
  line-height: 40px;
}

.morph{
  display: inline-flex;
  padding: 1%;
  margin: 3%;
  margin-top: 0%;
  margin-left: 0%;
  background-color: #226413;
  color: white;
}

#buttons{

}

button{
  border:none;
  border-radius: 0px;

  margin: 1%;
  padding: 1% 3%;

  letter-spacing: 1.5px;
}

@media (max-width: 768px) {
  .cage{
    width: 100%;
    height: 20rem;
  }
  #rightSide{
    width: 100%;
    height: 50%;
  }
  .container{
    padding: 0px;
  }
}
